<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>


<%= link_to 'Edit', edit_organization_group_path(@organization, @group) %> |
<%= link_to 'Back', organization_groups_path(@organization) %>
