<%= render 'header' %>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'Edit', edit_organization_path(@organization) %></li>
  <li><%= link_to 'Membership', membership_organization_path(@organization) %></li>
</ul>

<%= render 'form' %>
