<% if Organization.granted?(:create) %>
  <div class="well">
    <h1><%= link_to "New organization", new_organization_path %></h1>
  </div>
<% end %>

<% @organizations.each do |organization| %>

  <div class="well">
    <h1><%= link_to organization.title, organization %></h1>
    <h2><%= organization.subtitle %></h2>
    <p><%= organization.description %></p>
  </div>

<% end %>
