<h1>Organizations</h1>

<ul>
  <li><%= link_to 'New Organization', new_organization_path %></li>
</ul>

<% @organizations.each do |organization| %>

  <div class="well">
    <h1><%= link_to organization.title, organization %></h1>
    <h2><%= organization.subtitle %></h2>
    <p><%= organization.description %></p>
  </div>

<% end %>
