<h1><%= link_to @organization.title, @organization %></h1>
<h2><%= @organization.subtitle %></h2>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    People
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Groups</a></li>
    <li><a>Membership</a></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Outreach
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Messages</a></li>
    <li><a>Resources</a></li>
    <li><a>History</a></li>
    <li><a>Feedback</a></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Workflow
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Campaigns</a></li>
    <li><a>Events</a></li>
    <li><a>Projects</a></li>
    <li><a>Upkeep</a></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Learn
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Experiments</a></li>
    <li><a>Results</a></li>
    <li><a>Commentary</a></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Community
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a>Partners</a></li>
    <li><a>Geography</a></li>
    <li><a>Network</a></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown">
    Admin
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Edit', edit_organization_path(@organization) %></li>
  </ul>
</div>

<p><%= @organization.description %></p>
